<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Echo Feel Sentiment Analyzer</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  
</head>
<body>
  <div class="container">
    <h1>Echo Feel – Sentiment Analyzer</h1>
    <form method="post">
  <textarea name="review_text" rows="6" placeholder="Paste your review..."></textarea><br>
  <button type="submit">Analyze Sentiment</button>
</form>

    {% if prediction %}
      <div class="result">
        <strong>Result:</strong> {{ prediction }}
      </div>
    {% endif %}
  </div>
</body>
</html>
